body {
  font-family: Arial;
  padding: 20px;
}

input {
  width: 300px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.property-button {
  color: cornflowerblue;
  border: 0;
    background: none;
    font-family: monospace;
    padding: 0;
}

.indented {
  margin-left: 20px;
}

.monospace {
  font-family: monospace;
}

.text-box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.property-response-field {
  height: 20px;
  margin-bottom: 5px;
}

.label, .property-response-field {
  color: rgba(0, 0, 0, 0.7);
}